/* 
Title
*/
    h1 span{
        display: block;
        font-size: .5em;
        font-weight: 900;
        color: black;
        letter-spacing: .1px;
    }
/**/

/* 
Main
*/
    header, main, footer{
        max-width: 90rem;
        margin: auto;
        padding: 4rem;
    }

    main{
        min-height: 50vh;
    }

    p .fas{
        color: #9b4dca;
    }
/**/